<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCnZ2y1MWjqSpPXUDzkq_MwBesyIjuCyq4</string>
	<key>GCM_SENDER_ID</key>
	<string>676749811342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagram</string>
	<key>PROJECT_ID</key>
	<string>fir-crud-b3683</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-crud-b3683.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676749811342:ios:e037583a119c7f7ec4b3df</string>
	<key>DATABASE_URL</key>
	<string>https://fir-crud-b3683-default-rtdb.firebaseio.com</string>
</dict>
</plist>